{% extends 'base.html.twig' %}

{% block title %}Banane Clicker{% endblock %}

{% block body %}
    {# Architecture built to handle the game's JS actions #}
    <div class="row" {{ stimulus_controller('game') }}>
        <div class="col">
            <img src="{{ asset('img/banana.png') }}"
                 alt="the banana"
                 style="max-width: 500px"
                 data-action="click->game#add"
            />
        </div>
        <div class="col">
            <div>
                <div>
                    Bananas :
                    <b {{ stimulus_target('game', 'score') }}id="score"></b>
                </div>

                <button {{ stimulus_action('game', 'save') }}
                        class="text-warning bg-dark border-warning rounded">
                    Save
                </button>

                <div {{ stimulus_target('game', 'upgradeContainer') }}></div>

                <div {{ stimulus_target('game', 'output') }}></div>
            </div>
        </div>
    </div>
{% endblock %}
