{% block header %}
    <header>
        {% if currentUser is defined and currentUser %}
            {% if page != 'account' %} <a href="{{ path('account') }}">account</a> {% endif %}
            {% if page != 'game' %} <a href="{{ path('game') }}">game</a> {% endif %}
            {% if 'ROLE_ADMIN' in currentUser.roles and page != 'admin' %} <a href="{{ path('admin') }}">admin</a> {% endif %}
            <a href="{{ path('app_logout') }}">logout</a>
        {% else %}
            {% if page != 'login' %} <a href="{{ path('app_login') }}">login</a> {% endif %}
            {% if page != 'register' %} <a href="{{ path('app_register') }}">register</a> {% endif %}
        {% endif %}
    </header>
    <br/>
{% endblock %}